<a href="https://colab.research.google.com/github/RonelynQuidong/ICT110_CS2A_Quidong/blob/master/chapter1%265.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CHAPTER 1

##EXERCISES

EXERCISE 1

In [ ]:
print("Hello world!") # the P is in the Uppercase (change it into lowercase p )

In [ ]:
print("Hello world!") #  missing parentheses (add open parentheses)

In [ ]:
print("Hello world") # it should be quotation mark instead of apostrophe (delete the apostrophe and add quotation mark before and after Hellow world)

In [ ]:
print("Hello world!") # delete the apostrophe and change it into quotation mark

EXERCISE 2

In [ ]:
x = 43
x = x + 1 # x is 44
print(x)

EXERCISE 3

In [ ]:
x = 43
x = x + 1 # the variable x is in uppercase (change into lowercase)
print(x)

#CHAPTER 2

##EXERCISES

EXERCISE 1

In [ ]:
name = input ('Enter your name:')
print('Hellow', name)

EXERCISE 2

In [ ]:
inp = input ('Enter Hours:')
ins = input ('Enter Rate:'a', pay)

EXERCISE 3

In [ ]:
width = 17
height = 12.0

print (width//2,(type(width//2)))
print (width/2.0,(type(width/2.0)))
print (height/3,(type(height/3)))
print (1 + 2 * 5, (type(1 + 2 * 5)))

EXERCISE 4

In [ ]:
number =  float (input ("enter a number:"))
square = number*number
print("the square of 3 is", square)

CHALLENGE

In [ ]:
celsius = float(input('Enter Celsius:'))
fahren = (celsius * (9/5)) + 32
print ('Celsius:', fahren)

#CHAPTER 3

##EXERCISES

EXERCISE 1

In [ ]:
if x > 50:
    print('Above 50')
elif x > 20:
    print('Above 20')
elif x > 10:
    print('Above 10')
elif x > 0:
    print('Above 0')
else:
    print('Something else')

#need to rearrange the order of the condition

EXERCISE 2

In [ ]:
from sre_constants import REPEAT_ONE
from typing_extensions import reveal_type
Hours = float(input('Enter Hours:'))
Rate = float (input('Enter Rate:'))

if Hours <= 40:
  Pay = Hours * Rate
else:
  regular_Pay = 40* Rate
  overtime_Pay = (hours - 40) * (1.5 * Rate)
  Pay = regular_Pay + overtime_Pay

print('Pay:', Pay)

CHALLENGE

In [ ]:
score = float(input('Enter score between 0 and 100: '))

if score >= 97:
    grade = 1.0
elif score >= 93:
    grade = 1.25
elif score >= 89:
    grade = 1.5
elif score >= 85:
    grade = 1.75
elif score >= 81:
    grade = 2.0
elif score >= 77:
    grade = 2.25
elif score >= 74:
    grade = 2.5
else:
    grade = 3.0

print('Grade', grade)

#CHAPTER 4

##EXERCISES

EXERCISE 1

In [ ]:
from sre_constants import REPEAT_ONE
def compute_pay(hours, rate):
      if hours <= 40:
        pay = hours * rate
      else:
        regular_pay = 40 * rate
        overtime_pay = (hours - 40) * (1.5 * rate)
        pay = regular_pay + overtime_pay
      return pay


hours = float(input('Enter Hours:'))
rate = float(input('Enter Rate: '))

pay = compute_pay(hours, rate)
print('Pay:', pay)

CHALLENGE

In [ ]:
def compute_grade(score):
  if 97 <= score <= 100:
    return '1.0'
  elif 93 <= score < 97:
    return '1.25'
  elif 89 <= score < 93:
    return '1.5'
  elif 85 <= score < 89:
    return '1.75'
  elif 81 <= score < 85:
    return '2.0'
  elif 77 <= score < 81:
    return '2.25'
  elif 74 <= score < 77:
    return '2.5'
  elif 0 <= score < 74:
    return '3.0'
  else:
    return 'Invalid score'

score = float(input("Enter score:"))
grade = compute_grade(score)
print("Grade: ", grade)

# CHAPTER 5

##EXERCISES

EXERCISE 1

CHALLENGE 1

In [ ]:
count = 0
total = 0

while True:
    num = input('Enter a number: ')
    if num == 'done':
        break
    try:
        number = int(num)
        total += number
        count += 1
    except ValueError:
        print("Invalid input")
        continue

if count == 0:
    print("No numbers entered")
else:
    average = total / count
    print( total, count, average)

CHALLENGE 2

In [ ]:
numbers = []

while True:
    try:
        num = input("Enter a number: ")
        if num == 'done':
            break
        number = int(num)
        numbers.append(number)
    except ValueError:
        print("Invalid input")

if not numbers:
    print("No numbers entered")
else:
    print("Maximum:", max(numbers))
    print("Minimum:", min(numbers))